body {
  background-color: whitesmoke;
}
.page-title {
  padding-left: 4em;
  padding-top: 14em;
  padding-bottom: 1em;
}
.page-title h3 {
  font-size: 24pt;
  font-family: 'Oswald';
  padding-bottom: .3em;
}
.page-title h4 {
  font-size: 11pt;
}
.home-link > a {
  padding-bottom: 18em;
  padding-left: 4em;
  color: gray;
}
.home-link> a:hover {
  color: #355378;
}
.nav {
  padding-left: 3em;
}
.nav-item:first-child {
  font-weight: bold;
}
.nav-item:not(:first-child) {
  font-size: 11pt;
  padding-left: 2em;
}
.nav-main-color {
  color: gray;
}
.nav-color {
  color: gray;
}
.nav-item > a:hover {
  color: #4c6170;
}
.carousel {
  height: 100vh;
  max-height: 50vw;
}
.carousel-inner, .carousel-item {
  height: 100%;
}
.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
}
#first-slide {
  background-image: url('photos/bunkbed.png');
}
#second-slide {
  background-image: url('photos/glassdrawing.png');
}
#third-slide {
  background-image: url('photos/greenwood (2).png');
}
#fourth-slide {
  background-image: url('photos/kansi.jpg');
}
#fifth-slide {
  background-image: url('photos/patio.png');
}
#sixth-slide {
  background-image: url('photos/sauna6.png');
}
#seventh-slide {
  background-image: url('photos/tabledrawing.png');
}
.right-arrow {
  color: yellow;
}
.left-arrow {
  color: yellow;
}
.border {
  border-right: solid 3px grey;
}
.photo-row {
  height: 100%;
  max-height: 100px;
}
.previews > img {
  height: 100px;
  padding: 10px 2px 10px 0;
}
h2 {
  font-family: 'Oswald';
  font-size: 20pt;
  padding-bottom: 2em;
  padding-top: 4em;
}
.project-textbox > p {
  font-size: 12pt;
  padding: 2em;
}
.project-textbox {
  margin: 3em;
}
