.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}
.header h4 {
  text-align: right;
  font-size: 14pt;
  font-family: 'Playfair display', serif;
}
#header-box .text {
  color: #5c5c5c;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
#header-box h1 {
  font-size: 40pt;
  font-weight: bold;
}
body {
  color: #2b2b2b;
  background-color: #whitesmoke;
}
#carousel {
  max-width: 90vw;
  padding-bottom: 2vw;
}
.col h4 {
  text-align: center;
}
img {
  width: 100% !important;
}
#main-icon {
  padding-bottom: 18px;
  border-radius: 100%;
}
img#drawing1 {
  margin-top: -80px;
}
img#drawing2 {
  margin-top: -100px;
}
.portfolio-container div img {
  min-height: 100%;
}
.portfolio-container > div {
  height: 200px;
  overflow: hidden;
}
#navigation {
  padding-bottom: 5vw;
}
