h3 {
  font-size: 9pt;
}
#header-box .text {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
}
.button {
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  width: 30%;
}
body {
  color: #2b2b2b;
  background-color: whitesmoke;
}
.col h4 {
  text-align: center;
  font-size: 10pt;
}
.col h3 {
  font-size: 11pt;
}
img {
  width: 100% !important;
}
#main-icon {
  border-radius: 100%;
}
.image-caption {
  padding-top: 1em;
  color: #4d4d4d;
}
img#drawing1 {
  margin-top: -80px;
}
img#drawing2 {
  margin-top: -100px;
}
#portfolio-container img {
  min-height: 100%;
}
#portfolio-container > div > div {
  overflow: hidden;
}
#navigation {
  padding-bottom: 1vw;
  padding-top: 1vw;
  background-color: whitesmoke;
  border-bottom: 3px solid lightgray;
}
.row.m-0 {
  padding-top: 6em;
}
.carousel, .carousel-inner, .carousel-item {
  height: 100vh;
  max-height: 50vw;
}
#first-image {
  background-image: url('7.png');
}
#second-image {
  background-image: url('3.png');
}
#third-image {
  background-image: url('9.png');
}
body::after{ /* Carousel preload */
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide preloader images
   content:url(7.png) url(3.png) url(9.png); // load preloader images
}
.carousel-item {
  background-size: cover;
}
.carousel-item.active {
  display: table !important;
}
.carousel-item:not(.active) > div {
  opacity: 0;
}
.carousel-item > div {
  transition: opacity 0.25s;
}
.carousel-item > div {
  text-align: center !important;
  display: table-cell !important;
  vertical-align: middle !important;
}
.carousel-item button:hover {
  border-color: gray;
  color: gray;
}
.carousel-item button {
  z-index: 10;
  width: 16em;
  height: 3em;
  color: white;
  border-color: white;
  margin: 50vh auto 0 auto;
  display: block;
}
.image-caption h5 {
  font-size: 11pt;
  color: #4d4d4d;
}
.col-6 h3 {
  font-size: 19pt;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding-top: .5em;
  color: gray;
}
.centered {
  text-align: center;
}
#gallery-button {
  background-color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-top: 7em;
  border-color: lightgray;
  color: gray;
  border-width: 2px;
}
.info-box {
  border: lightgray 1px solid;
  border-radius: .5em;
  box-shadow: 5px 5px 8px 0 #a6a6a6;
  margin: auto 0;
  color: #4d4d4d;
}
#portfolio-container > .second-row > div {
  height: 464px;
}
#portfolio-container > .first-row > div {
  height: 214px;
}
#portfolio-container > :not(:last-child) > div {
  margin-bottom: 2em;
}
#portfolio-container {
  margin-bottom: 3em;
}
.footer-contact > div {
  margin: 5em;
  border: 2px solid lightgray;
  padding: 3em;
}
.footer-contact h4 {
  font-family: 'Oswald';
  padding-bottom: 1em;
}
