.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 42%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 80%; /* Set the width of the positioned div */
}
.header h4 {
  text-align: right;
  font-size: 14pt;
  font-family: 'Oswald', sans-serif;
}
h3 {
  font-size: 9pt;
}
#header-box .text {
  color: #7c7c7c;
  font-family: 'Oswald', sans-serif;
}
.button {
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  width: 30%;
}
body {
  color: #2b2b2b;
  background-color: whitesmoke;
}
#carousel {
  max-width: 100vw;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: grey;
 
}
.col h4 {
  text-align: center;
  font-size: 10pt;
}
.col h3 {
  font-size: 11pt;
}
img {
  width: 100% !important;
}
#main-icon {
  border-radius: 100%;
}
.image-caption {
  padding-top: 1em;
}
img#drawing1 {
  margin-top: -80px;
}
img#drawing2 {
  margin-top: -100px;
}
.portfolio-container div img {
  min-height: 100%;
}
.portfolio-container > div {
  height: 200px;
  overflow: hidden;
}
#navigation {
  padding-bottom: 1vw;
  padding-top: 1vw;
  background-color: whitesmoke;
  border-bottom: 3px solid lightgray;
}
.row.m-0 {
  padding-top: 6em;
}
.carousel, .carousel-inner, .carousel-item {
  height: 100vh;
}
#first-image {
  background-image: url('7.png');
}
#second-image {
  background-image: url('3.png');
}
#third-image {
  background-image: url('9.png');
}
.carousel-item {
  background-size: cover;
}
.carousel-item button:hover {
  border-color: gray;
  color: gray;
}
.carousel-item button {
  z-index: 10;
  width: 16em;
  height: 3em;
  color: white;
  border-color: white;
  margin: 50vh auto 0 auto;
  display: block;
}
.image-caption h5 {
  font-size: 11pt;
}
.col-6 h3 {
  font-size: 19pt;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding-top: .5em;
}
